*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  text-align: center;
}
.App-openModal {
  text-align: center;
  filter:brightness(0.1);
}

.app__navbar {
  position: fixed;
  width: 100%;
  height: 6vw;
  background-color: #fff;
  box-shadow: 0 1vw .5vw -.5vw rgba(0, 0, 0, 0.4);
  font-family: ARCO;
  display: flex;
  padding: 0.5vw 3vw;
  align-items: center;
  font-size: 1.5vw;
}

.app__navbar-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 800px) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    li {
      cursor: pointer;
      margin: 0 1vw;
    }
  }
}

.app__navbar-link {
  text-decoration: none;
  color: black;
  &:hover {
    color: #fcceeb;
  }
}

.app__navbar-menu {
  flex: 1;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  font-size: 2vw;
  @media screen and (min-width: 800px) {
    display: none;
  }

  svg {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    background-color: #fcceeb;
  }

  div {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 1vw;
    width: 100%;
    border-radius: .3vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: #fff;
    box-shadow: -0.8vw 1vw .5vw -.5vw rgba(0, 0, 0, 0.4);

    ul {
      margin: 0 auto;
      list-style: none;
      padding: 0;

      li {
        padding: 1vw 0;
        cursor: pointer;
      }
    }

  }
}
.buttomHome-wrapper{
  margin-top: 3vw;
}
.buttomHome {
  border-radius: .5vw;
  background-color: #fcceeb; 
  text-transform: uppercase;
  color: black;
  font-family: ARCO; 
  font-weight: bold;
  font-size: 2vw;
  height: 4vw;
  width: 25vw;
  border: .7vw solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 0;
  box-shadow: 0 1vw .5vw -.5vw rgba(0, 0, 0, 0.4);
  text-decoration: none;

  &:hover {
    box-shadow: .2vw .2vw 3vw .4vw rgba(0, 0, 0, 0.2);
    background-color: #f7a4d8;
    transform: scale(1.15);
  }
  &:focus {
    border: .7vw solid transparent;
    background-color: #f7a4d8;
    outline: none;
  }
  &:active {
    border: .7vw solid transparent;
    background-color: #f7a4d8;
  }
}

.buttomNav {
  border-radius: .5vw;
  padding: 0 1.5vw;
  background-color: #f7a4d8;
  text-transform: uppercase;
  color: black ;
  font-family: ARCO;
  font-weight: bold;
  font-size: 1.1vw;
  cursor: pointer;
  border: .7vw solid transparent;
  letter-spacing: .1vw;
  transition: all 0.3s ease-in-out;
  height: 2.5vw;
  line-height: 0;
  box-shadow: .0 .7vw .6vw -.5vw rgba(0, 0, 0, 0.4);
  &:hover {
    box-shadow: .2vw .2vw 3vw .4vw rgba(0, 0, 0, 0.2);
    background-color: #f7a4d8;
    transform: scale(1.05);
  }
  &:focus {
    border: .7vw solid transparent;
    background-color: #ff81bc;
    outline: none;
  }
  &:active {
    border: .7vw solid transparent;
    background-color: #f7a4d8;
  }
}

.footer {
  background-color:#fcceeb;
  padding: 2vw 12vw;
  display: flex;
  border-top: .3vw solid black;
  flex-direction: column;

  div {
    div {
      display: flex;
      color: black;
      padding-top: 1vw;
      justify-content: center;
    }
  }
}
.footerItem {
  transition: all 0.3s ease-in-out;
  font-size: 2.5vw;
  cursor: pointer;
  margin-top: 8px;
  margin: 0 4vw;
  &:hover {
    transform: scale(1.3);
  }
}

.modal {
  z-index: 5;
  width: 60vw;
  height: 30vw;
  text-align: center;
  background-color: #fcceeb;
  font-family: ARCO;
  color: black;
  font-size: 4vw;
  border-radius: 1vw;
  position: fixed;
  padding: 0vw 1vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;

  button {
    width:60%;
    font-family: inherit;
    font-size: inherit;
    background-color: black;
    color: #fcceeb;
    border-radius: 1vw;
    cursor: pointer;
  }
}

.buy-page {
  padding-top: 6vw;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.buy-card {
  border: 5px solid black;
  width: 350px;
  margin: 0 auto 25px auto;
}
.buy-img {
  background-color: #a2fafb;
  width: 100%;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
  }
}
.buy-description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100.5%;
  margin-left: -1px;
  font-family: ARCO;
  font-size: 22px;
  background-color: white;
  color: #ff81bc;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.buy-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ARCO;
  font-size: 22px;
  width: 100.5%;
  margin-left: -1px;
  background-color: #a2fafb;
  height: 50px;
  border-bottom: 5px solid black;
}
.buy-amount {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ARCO;
  font-size: 22px;
  width: 100.5%;
  margin-left: -1px;
  background-color: #ff81bc;
  height: 50px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin: 0 20px;
      cursor: pointer;
    }
  }
}
.buy-button {
  border-radius: 5px;
  background-color: #ff81bc;
  text-transform: uppercase;
  color: white;
  font-family: ARCO;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  width: 200px;
  height: 38px;
  box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.4);

  &:hover {
    box-shadow: .2vw .2vw 3vw .4vw rgba(0, 0, 0, 0.2);
    transform: scale(1.15);
  }
}

